body {
    width: 100%;
    height: 100%;
    background: url("./images/map.png") no-repeat center top / cover;
}

body:before {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color:rgba(0, 0, 0, .5);
}

.map {
    margin: 0 auto;
}

.map-circle669,
.map-circle678,
.map-circle684,
.map-circle679,
.map-circle686,
.map-circle683,
.map-circle682,
.map-circle681,
.map-circle685,
.map-circle680 {
    border-radius: 50%;
    height: 41px;
    width: 41px;
    position: relative;
    cursor: pointer;
}

.map-circle684,
.map-circle669,
.map-circle686,
.map-circle683,
.map-circle682,
.map-circle685 {
    background: #3878eea7;
}

.map-circle678,
.map-circle679,
.map-circle681,
.map-circle680 {
    background: #6abf4b97;
}

.map-circle684 {
    top: 165px;
    left: 1090px;
}

.map-circle669 {
    top: 190px;
    left: 350px;
}

.map-circle678 {
    top: 210px;
    left: 545px;
}
.map-circle679 {
    top: 225px;
    left: 908px;
}

.map-circle686 {
    top: 170px;
    left: 450px;
}

.map-circle683 {
    top: 240px;
    left: 1120px;
}

.map-circle682 {
    top: 282px;
    left: 850px;
}

.map-circle681 {
    top: 280px;
    left: 1030px;
}

.map-circle685 {
    top: 270px;
    left: 1260px;
}

.map-circle680 {
    top: 290px;
    left: 870px;
}

.map-circle669 p,
.map-circle678 p,
.map-circle684 p,
.map-circle679 p,
.map-circle686 p,
.map-circle683 p,
.map-circle682 p,
.map-circle681 p,
.map-circle685 p,
.map-circle680 p {
    color: white;
    font-weight: bold;
    font-size: 18px;
    left: 50%;
    position: absolute;
    top: 8%;
    transform: translate(-50%, -50%);
}