body {
    width: 100%;
    height: 100%;
    background: url("./images/map.png") no-repeat center top / cover;
}

.map {
    margin: 0 auto;
}

.map-circle669,
.map-circle678,
.map-circle684,
.map-circle679,
.map-circle686,
.map-circle683,
.map-circle682 {
    border-radius: 50%;
    height: 41px;
    width: 41px;
    position: relative;
    cursor: pointer;
}

.map-circle684,
.map-circle669,
.map-circle686,
.map-circle683,
.map-circle682 {
    background: #3878eebc;
}

.map-circle678,
.map-circle679 {
    background: #6abf4bb7;
}

.map-circle684 {
    top: 165px;
    left: 1090px;
}

.map-circle669 {
    top: 480px;
    left: 350px;
}

.map-circle678 {
    top: 210px;
    left: 545px;
}
.map-circle679 {
    top: 225px;
    left: 908px;
}

.map-circle686 {
    top: 170px;
    left: 450px;
}

.map-circle683 {
    top: 240px;
    left: 1120px;
}

.map-circle682 {
    top: 282px;
    left: 850px;
}

.map-circle669 p,
.map-circle678 p,
.map-circle684 p,
.map-circle679 p,
.map-circle686 p,
.map-circle683 p,
.map-circle682 p {
    color: white;
    font-weight: bold;
    font-size: 18px;
    left: 50%;
    position: absolute;
    top: 8%;
    transform: translate(-50%, -50%);
}